 <div class="col-md-6 col-md-offset-1">
                        <!-- Service 1 Starts -->
                        <div class="col-xs-6 col-md-4 s-items" data-project="services-pages/services-1.html">
                            <div class="icons animated" data-animation="fadeInDown" data-animation-delay="500"><a href="#"> <i class="fa fa-cog"></i><br>
                                Habitant</a> 
                            </div>
                        </div>
                        <!-- Service 1 Ends -->
                        <!-- Service 2 Starts -->
                        <div class="col-xs-6 col-md-4 s-items" data-project="services-pages/services-2.html">
                            <div class="icons animated" data-animation="fadeInDown" data-animation-delay="1000"><a href="#"> <i class="fa fa-lightbulb-o"></i><br>
                                Pellente</a> 
                            </div>
                        </div>
                        <!-- Service 2 Ends -->
                        <!-- Service 3 Starts -->
                        <div class="col-xs-6 col-md-4 s-items" data-project="services-pages/services-3.html">
                            <div class="icons animated" data-animation="fadeInDown" data-animation-delay="1500"><a href="#"><i class="fa fa-globe"></i><br>
                                Morbi</a> 
                            </div>
                        </div>
                        <!-- Service 3 Ends -->
                        <!-- AJAX Portfolio Details -->
                        <div class="services-detail"></div>
                        <!-- AJAX Portfolio Details -->
                        <!-- Service 4 Starts -->
                        <div class="col-xs-6 col-md-4 s-items" data-project="services-pages/services-4.html">
                            <div class="icons animated" data-animation="fadeInUp" data-animation-delay="1500"><a href="#"> <i class="fa fa-cloud"></i><br>
                                Tristique</a> 
                            </div>
                        </div>
                        <!-- Service 4 Ends -->
                        <!-- Service 5 Starts -->
                        <div class="col-xs-6 col-md-4 s-items" data-project="services-pages/services-5.html">
                            <div class="icons animated" data-animation="fadeInUp" data-animation-delay="1000"><a href="#"> <i class="fa fa-bug"></i><br>
                                Fames</a> 
                            </div>
                        </div>
                        <!-- Service 5 Ends -->
                        <!-- Service 6 Starts -->
                        <div class="col-xs-6 col-md-4 s-items" data-project="services-pages/services-6.html">
                            <div class="icons animated" data-animation="fadeInUp" data-animation-delay="500"><a href="#"> <i class="fa fa-fire"></i><br>
                                Egestas</a> 
                            </div>
                        </div>