<div class="container">
    <div class="row">
        <div class="col-md-6 items">
            <div class="picture"><img src="../images/portfolio/6.jpg" class="img-responsive" alt=""></div>
            <div class="details">
                <div class="caption">LIMS Hosting and Support</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="heading">LIMS Hosting and Support</div>
            <div class="desc">
			<p>In response to the high cost and complexity of deploying and managing an enterprise Laboratory Information Management System (LIMS), 
			InductiveHealth developed a LIMS hosting and support offering that offers similar features to our NBS Hosting and Support offering, but focused
			on the systems needs for public health laboratories.</p>
			
			<p>For the US Virgin Islands, InductiveHealth hosts and supports an implementation of StarLIMS, allowing for direct instrument integrations,
			HL7 lab reporting, and customized lab workflows. As a result, laboratorians can <span class="color-text">focus on the lab science</span> rather 
			than systems patching, maintenance,	HL7 integration, and information security controls.
			
			<p><a href="#contact-us" class="color-text">Talk to us</a> to learn more or schedule a demo.</p>
		
			</div>
            <!-- Item Info Starts -->
            <ul>
                <li><strong>Category</strong>: cloud / integration / infosec</li>
                <li><strong>Client:</strong> US Virgin Islands Department of Health</li>
            </ul>
            <!-- Item Info Ends --> 
            <!-- Social Icons Starts -->
            <ul class="social-icons">
                <li><a href="https://twitter.com/InductiveHealth"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/inductivehealth-informatics/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <!-- Social Icons Ends --> 
            <!-- Links Starts -->
            <div class="links">
                <div class="close-detail pull-right"><a><i class="fa fa-times"></i> Close</a></div>
            </div>
            <!-- Links Ends --> 
        </div>
    </div>
</div>