<div class="container">
    <div class="row">
        <div class="col-md-6 items">
            <div class="picture"><img src="../images/portfolio/4.jpg" class="img-responsive" alt=""></div>
            <div class="details">
                <div class="caption">Genomic Computing Platform</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="heading">Genomic Computing Platform</div>
            <div class="desc">
			<p>Whole genome sequencing (WGS) and other advanced molecular testing methods have put new strains on laboratories.
			InductiveHealth developed the Inductive Genomic Computing Platform to provide an integrated suite of WGS analysis
			tools, a scalable computing and storage environment, and bioinformatics support into one simple offering.  No longer
			do lab directors need to figure out servers and storage arrays or find ways to configure numerous complex toolsets to
			make effective use of this data for public health analysis.</p>
			
			<p>Our technology integrates directly with leading lab testing equipment to simplify workflows and get to the 
			<span class="color-text">analysis results faster</span>, increasing lab productivity and testing throughput. We designed
			for scalability at the start, allowing us to offer this service at a cost significantly below what it would take
			to build similar capabilities in-house.</p>
			<p><a href="#contact-us" class="color-text">Talk to us</a> to schedule a demo.</p>
		
			</div>
            <!-- Item Info Starts -->
            <ul>
                <li><strong>Category</strong>: cloud / data science / infosec / genomic</li>
                <li><strong>Client:</strong> Multiple</li>
            </ul>
            <!-- Item Info Ends --> 
            <!-- Social Icons Starts -->
            <ul class="social-icons">
                <li><a href="https://twitter.com/InductiveHealth"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/inductivehealth-informatics/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <!-- Social Icons Ends --> 
            <!-- Links Starts -->
            <div class="links">
                <div class="close-detail pull-right"><a><i class="fa fa-times"></i> Close</a></div>
            </div>
            <!-- Links Ends --> 
        </div>
    </div>
</div>