<div class="container">
    <div class="row">
        <div class="col-md-6 items">
            <div class="picture"><img src="../images/portfolio/3.jpg" class="img-responsive" alt=""></div>
            <div class="details">
                <div class="caption">NBS Hosting and Support</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="heading">NBS Hosting and Support</div>
            <div class="desc">
			<p>InductiveHealth is the market leader in cloud hosting and support for the NEDSS Base System. We have developed 
			tested processes and sophisticated technology that takes the hassle out of managing a disease surveillance
			system, letting you focus on driving <span class="color-text">public health impact</span> from this critical data. 
			Just bring your users and we handle the rest, including training!</p>
			
			<p>Our approach has been tested with 8+ fully hosted implementations, nearly all implemented and live in under 30 days. 
			We are able to get our clients productive with the system faster, and drive huge increases in HL7 electronic lab result 
			(ELR) integration, all while managing information security to strict FISMA-moderate controls. 
			</p>
			<p><a href="#contact-us" class="color-text">Talk to us</a> to learn more or schedule a demo.</p>
			</div>
            <!-- Item Info Starts -->
            <ul>
                <li><strong>Category</strong>: cloud / integration / infosec</li>
                <li><strong>Client:</strong> Multiple</li>
            </ul>
            <!-- Item Info Ends --> 
            <!-- Social Icons Starts -->
            <ul class="social-icons">
                <li><a href="https://twitter.com/InductiveHealth"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/inductivehealth-informatics/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <!-- Social Icons Ends --> 
            <!-- Links Starts -->
            <div class="links">
                <div class="close-detail pull-right"><a><i class="fa fa-times"></i> Close</a></div>
            </div>
            <!-- Links Ends --> 
        </div>
    </div>
</div>