<div class="container">
    <div class="row">
        <div class="col-md-6 items">
            <div class="picture"><img src="../images/portfolio/2.jpg" class="img-responsive" alt=""></div>
            <div class="details">
                <div class="caption">HIV Drug Resistance DW</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="heading">HIV Drug Resistance DW</div>
            <div class="desc">
			<p>Monitoring the emergence of drug resistance in HIV is of critical importance to managing the long-term effectiveness
			of existing ARV treatments and to guide the deployment of second-line drugs. InductiveHealth was asked by CDC to develop
			a new approach for analyzing HIV drug resistance globally, building the HIV Drug Resistance Data Warehouse.</p>
			
			<p>This system combines whole genome sequence data for HIV samples and combines it with epidemiolgic data in a unified platform
			for simple data analysis.  The system then pulls data from external reference sources and analyzes the collected HIV genetic 
			sequence data for markers that suggest the emergence of drug resistance in a given strain. As a result of the successful design
			and implementation of the HIV Drug Resistance Data Warehouse, researchers now have a powerful new tool to monitor and manage the HIV
			crisis globally.</p>
			<p><a href="#contact-us" class="color-text">Talk to us</a> to learn more.</p>
			</div>
            <!-- Item Info Starts -->
            <ul>
                <li><strong>Category</strong>: integration / infosec / genomic</li>
                <li><strong>Client:</strong> Centers for Disease Control and Prevention</li>
            </ul>
            <!-- Item Info Ends --> 
            <!-- Social Icons Starts -->
            <ul class="social-icons">
                <li><a href="https://twitter.com/InductiveHealth"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/inductivehealth-informatics/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <!-- Social Icons Ends --> 
            <!-- Links Starts -->
            <div class="links">
                <div class="close-detail pull-right"><a><i class="fa fa-times"></i> Close</a></div>
            </div>
            <!-- Links Ends --> 
        </div>
    </div>
</div>