<div class="container">
    <div class="row">
        <div class="col-md-6 items">
            <div class="picture"><img src="../images/portfolio/1.jpg" class="img-responsive" alt=""></div>
            <div class="details">
                <div class="caption">BioSense Platform</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="heading">BioSense Platform</div>
            <div class="desc">
			<p>InductiveHealth supports the BioSense Platform for the Centers for Disease Control and 
			Prevention (CDC), working alongside partners ICF International and Deloitte Consulting. The BioSense Platform and 
			the National Syndromic Surveillance Program it is a part of are the primary tools used by
			the CDC for nationwide syndromic surveillance. The platform currently receives data on <span class="color-text">over 60% of emergency 
			department visits</span> nationwide as well as other data sources, and contains data spanning over a decade.</p>
			<p>InductiveHealth is responsible for all external integrations into the BioSense Platform and supports data warehousing, 
			data analytics, systems engineering, and maintenance and operations of the system. As a result of our work, the program
			now has access to important new datasets and has implemented several new platform features that increase data quality and
			have dramatically improved the future scalability of the system.</p>
			<p><a href="#contact-us" class="color-text">Talk to us</a> to learn more.</p>
			</div>
            <!-- Item Info Starts -->
            <ul>
                <li><strong>Category</strong>: cloud / integration / data science</li>
                <li><strong>Client:</strong> Centers for Disease Control and Prevention</li>
            </ul>
            <!-- Item Info Ends --> 
            <!-- Social Icons Starts -->
            <ul class="social-icons">
                <li><a href="https://twitter.com/InductiveHealth"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/inductivehealth-informatics/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <!-- Social Icons Ends --> 
            <!-- Links Starts -->
            <div class="links">
                <div class="close-detail pull-right"><a><i class="fa fa-times"></i> Close</a></div>
            </div>
            <!-- Links Ends --> 
        </div>
    </div>
</div>