<div class="col-md-12">
  <div class="heading pull-left">Information Security</div>
  <div class="close-detail pull-right"><a><i class="fa fa-times"></i> Close</a></div>
</div>
<div class="col-md-12">
  <div class="desc">
  <p>We have deep experience in information security in the highly-regulated government market, achieving one of the first Authorizations to Operate (ATO) 
  for the Department of Health and Human Services using the revised Security Assessment and Authorization (SA&amp;A) process, under FISMA. Our work has been used as an
  example within Federal Agencies.</p>  
  <p>We take a holistic view of information security, deploying sophisticated information security technologies and processes across everything we do.
  All of the systems we support are managed using FISMA-compliant information security controls, using advanced threat and vulnerability detection technologies and tested processes. </p>
 </div>
</div>
