<div class="col-md-12">
  <div class="heading pull-left">Cloud Hosting and Support</div>
  <div class="close-detail pull-right"><a><i class="fa fa-times"></i> Close</a></div>
</div>
<div class="col-md-12">
  <div class="desc">We are the leader in <span class="color-text"><strong>hosting and management of the NEDSS Base System (NBS)</strong></span> for State and Jursidictional health departments, 
	currently hosting and supporting 8 implementations of the NBS.  Using our advanced multi-factor authentication, secure private
	cloud hosting environment, deep domain knowledge, and sophisticated HL7 integration, all you need to bring is your users to start receiving actionable public health data in as little as 30 days, typically for far lower costs than hosting in-house.<br />
    <br />
    We also host other public health systems, including StarLIMS, ArboNET, and our own NDR Platform, and bring the same expertise in the technology and best-practice business processes that we do for our hosted NBS offering.  
	<br/><br/>Talk to us about our <span class="color-text"><strong>Health Department In a Box<span>&#8480;</span></strong></span> offering, which includes a pre-integrated suite of all of the core systems needed to capture, analyze, and manage the public health data of a population, from vital records, to communicable disease surveillance, STD/HIV, cancer, and chronic disease surveillance, immunization registry, lab information systems, and even syndromic surveillance.</div>
</div>
