<div class="col-md-12">
  <div class="heading pull-left">Systems Integration</div>
  <div class="close-detail pull-right"><a><i class="fa fa-times"></i> Close</a></div>
</div>
<div class="col-md-12">
  <div class="desc">
  <p>We take on challenging custom systems development, integration, and operations (Dev/Int/Ops) efforts, using Agile development methods along with ITIL-based system operations processes to keep implementation and systems management risk low.  We are experts at <span class="color-text">health data integration</span> using HL7, LOINC, SNOMED, and ICD-10 among other health data standards, and have more clinical to public health data integrations under management than any other firm.</p>
  <p>We align our fee structures to successful delivery and customer acceptance.  Unlike many other vendors, we only get paid when results are delivered.</p></div>
</div>
