<div class="col-md-12">
  <div class="heading pull-left">Surveillance Systems</div>
  <div class="close-detail pull-right"><a><i class="fa fa-times"></i> Close</a></div>
</div>
<div class="col-md-12">
  <div class="desc"><p>We are the experts in jurisdictional use of the <span class="color-text"><strong>NEDSS Base System (NBS)</strong></span>, with more successful implementations than any other firm. We understand what epidemiologists need (because many of us are epi's ourselves) and have built many of the best practices around the use of the NBS for communicable disease surveillance, getting you the actionable public health data you need, when you need it.</p>
  
  <p>InductiveHealth also designs and builds its own surveillance system technologies, designed for national-scope disease surveillance to meet PEPFAR objectives.
  The <span class="color-text"><strong>InductiveHealth National Data Repository (NDR) Platform&#8480;</strong></span> is an advanced, individual-level disease surveillance system designed for nation-level communicable disease surveillance and data analysis.  The InductiveHealth NDR Platform handles complex communicable diseases such as HIV, allowing for 
	analysis across	the continuum of care for new levels of insight that are impossible to achieve using traditional aggregate surveillance methods.</p>
    </div>
</div>
