<div class="col-md-12">
  <div class="heading pull-left">Data Science</div>
  <div class="close-detail pull-right"><a><i class="fa fa-times"></i> Close</a></div>
</div>
<div class="col-md-12">
  <div class="desc">Our trained epidemiologists and data analysts work with data all day, every day to deliver <span class="color-text">public health insights</span>
  to health institutions across the globe. We support the dirty work of data analysis (data quality, scrubbing, monitoring, reports and analytics development), so that agencies can get right to the work that matters.<br />
</div>
